body{
    color:brown
}
#ulList{
   letter-spacing:7px;
}
h1,h2{
    color:rgb(211, 0, 0);
}
h2{
   font-style: italic; 
}
.spanText{
    font-style:italic;
    text-decoration: underline;
    font-weight: bold;
}
.td{
    text-decoration:line-through;
}
.thr{
    
    background-color:yellow;
    font-weight: bold;

}
.th{
        background-color:yellow;
        font-weight:bold;
        
}
a{
    text-decoration: none;
    font-style:italic;
    color:tomato;
}
.lastPara{
    font-size: large;
}