body {
  background-color: rgb(235, 226, 226);
  margin: 0;
  padding: 0;
  align-items: center;
}


.title {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 100px;
}

.title-span {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.add-button{
position: absolute;
  top: 64px;
  right: 250px;
  font-size: 30px;
  font-weight: bold;

} 

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px;
  margin-top: 50px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 23px;
  margin: 30px;
  box-shadow: 10px 20px 20px black;
  width: 200px;
  height: 300px;
  text-align: center;
  border: 2px solid red;
  border-radius: 20px;
  color: red;

}

.container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

a {
  position: relative;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background: rgb (134, 43, 43);
  transition: 1s;
  background-color: #333;
}

a:hover {
  transition: 1s;
  background: #2b5c59;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;

  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);

  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transform: 0.5s;
}


.material-symbols-outlined {
  color: red;
}

.add-task {
  background-color: white;
  padding: 5px;
  border: 5px red;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}
.add{
  width: 70px;
  border: 3px red;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 5px;
}

/* .heading{
  display:inline;
float:left;
text-align: center;
background: #000;
width: 200px;
}

.add-button{
  background: #000;
width: 200px;
margin-left: 300px;
} */

/* trip-to-paris */
