body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.add-button{
    position: absolute;
    top: 70px;
    left: 620px;
    font-size: 25px;
    
}

.open-button{
    
    position: absolute;
    top:10px;
    left: 30px;
    
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: red;
    position: absolute;
    top:10px
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 23px;
    margin: 30px;
    box-shadow: 10px 20px 20px black;
    width: 200px;
    height: 300px;
    text-align: center;
    border: 2px solid red;
    border-radius: 20px;
    color: red;
   
  }
  .grid-container {

  position: absolute;
  right: 500px;
  grid-template-columns: auto auto auto;
  padding: 50px;
  margin-top: 50px;
}


    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 200,
        'opsz' 48
      }