.flex-container{
    padding: 2rem;
    background-color: blue;
    color: aliceblue;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-around;
}
.flex-items{
    background-color: tomato;
    padding: 30px;
    margin: 2px;
    width: 200px;
<<<<<<< .merge_file_a03264

=======
    height: ;
>>>>>>> .merge_file_a07228
}